.wrapper {
    width: 1215px;
    margin: 0 auto;
}

.container {
    height: 1028px;
    position: relative;
    background-image: url('../img/bg.png');
}

header {
    position: relative;
    height: 35px;
    background-color: rgba(7, 80, 143, .75);
}

.topmenu,
header div {
    display: inline-block;
}

header div {
    margin-left: 20px;
}

.topmenu li {
    display: inline-block;
    height: 35px;
    padding: 0 11px;
    line-height: 35px;
}

.topmenu li:first-child {
    margin-left: 456px;
}

header div a {
    color: #fff;
    letter-spacing: .4px;
}

.topmenu li:last-child {
    padding: 0 14px;
}

.Ola {
    height: 35px;
    background-color: #4eabda;
    line-height: 35px;
    padding: 0 13px;
    margin-left: 7px;
    color: #fff;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.5px;
    text-decoration: none;
}

.Ola a {
    letter-spacing: -.3px;
}

.Ola a:hover {
    text-decoration: none;
    color: #303030;
}

a {
    color: #60b5ed;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.5px;
    text-decoration: none;
}

li:hover {
    height: 35px;
    background-color: #4eabda;
    line-height: 35px;
}

li:hover a {
    color: #fff;
}

.topmenu li:last-child:after {
    position: absolute;
    top: 2px;
    left: 843px;
    height: 31px;
    border-left: 2px solid #56a2dc;
    content: ' ';
}

.underline {
    text-decoration: underline;
}

.icon {
    box-sizing: border-box;
}

.icon::before {
    display: inline-block;
    vertical-align: sub;
    padding-right: 9px;
    content: url('../img/ivenicon.png');
}

.userform {
    position: absolute;
    top: 214px;
    left: 353px;
    width: 560px;
    height: 613px;
    background-color: rgba(40, 40, 40, .5);
    z-index: 2;
}

::-webkit-input-placeholder {color:#C1C1C1;}

::-moz-placeholder          {color:#C1C1C1;}

h1 {
    margin: 19px 0 15px 0;
    color: #fff;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 26px;
    letter-spacing: -1.5px;
    text-align: center;
}

.facebook {
    margin-top: 37px;
    text-align: center;
}

.ou {
    margin-top: 28px;
    color: #818381;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    text-align: center;
}

.ou:before,
.ou:after {
    display: inline-block;
    content: "";
    border-top: #d8ddd7 solid 1px;
    width: 122px;
    margin: 5px 3px;
}

input,
button {
    display: block;
}

[type=checkbox] {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-top: 7px;
    margin-left: 143px;
}

input {
    width: 258px;
    height: 34px;
    margin: 17px auto;
    padding-left: 16px;
    border: 0;
    background-image: linear-gradient(to top, #111, #0e0d0d);
    color: #fff;
    box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

input:hover {
    background-image: linear-gradient(to top, #1b5288, rgba(27, 82, 136, .5));
    box-shadow: 0 0 9px rgba(47, 123, 197, .9), 0 3px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

input:first-child {
    margin-top: 20px;
}

label {
    margin-left: 2px;
    color: #ccc;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.3px;
}

button {
    width: 150px;
    height: 38px;
    margin: 6px auto;
    border: solid 1px rgba(107, 184, 231, .7);
    border-radius: 5%;
    background-image: linear-gradient(to top, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
    color: #fff;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.4px;
}

.privacy {
    margin-top: 15px;
    color: #ccc;
    font-family: 'texgyreheroscnregular', Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
